{% extends 'modules/admin/layout.twig' %}

{% block body %}
    <section class="content">
        <form class="form-horizontal" action="{{ path_for('admin.user', {'id':user.id}) }}" method="post" id="user-form">
            <input type="hidden" name="id" value="{{ user.id }}">
            {% if user.id == 0 %}
                <input type="hidden" name="type" value="new-user">
            {% else %}
                <input type="hidden" name="type" value="save-user">
            {% endif %}
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#user-info" data-toggle="tab">{% trans 'User Info' %}</a></li>
                    <li><a href="#details" data-toggle="tab">{% trans 'Details' %}</a></li>
                </ul>
                <div class="tab-content userform-tabs">
                    <div class="active tab-pane" id="user-info">
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">{% trans 'Name' %}</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="name" name="name" value="{{ user.name }}"
                                       title="{% trans 'Full name for the user' %}"
                                       data-toggle="tooltip" data-placement="right" placeholder="{% trans 'Name' %}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="title" class="col-sm-2 control-label">{% trans 'E-mail' %}</label>
                            <div class="col-sm-10">
                                <input type="text" name="mail" class="form-control" id="mail"
                                       value="{{ user.mail }}" placeholder="{% trans 'E-mail' %}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="title" class="col-sm-2 control-label">{% trans 'Login name' %}</label>
                            <div class="col-sm-10">
                                <input type="text" name="user" class="form-control" id="user"
                                       value="{{ user.user }}" placeholder="{% trans 'Login name' %}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="title" class="col-sm-2 control-label">{% trans 'Password' %}</label>
                            <div class="col-sm-10">
                                <input type="text" name="password" class="form-control" id="password"
                                       value="{{ user.password }}" placeholder="{% trans 'Password' %}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="title" class="col-sm-2 control-label">{% trans 'User Roles' %}</label>
                            <div class="col-sm-10">
                                <input type="text" name="role" class="form-control" id="role"
                                       value="{{ user.role }}" placeholder="{% trans 'User Roles' %}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="title" class="col-sm-2 control-label">{% trans 'User notes' %}</label>
                            <div class="col-sm-10">
                                <textarea name="notes" class="form-control" id="notes" rows="4"
                                          placeholder="{% trans 'User notes' %}">{{ user.notes }}</textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="title" class="col-sm-2 control-label">{% trans 'Status' %}</label>
                            <div class="col-sm-10">
                                {% for sta in ['active', 'disabled', 'readonly'] %}
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="status" id="status_{{ sta }}" value="{{ sta }}"
                                                    {% if sta == user.status %} checked="checked"{% endif %}>
                                            {{ sta }}
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="details">
                        <div class="form-group">
                            <label for="page-content-area" class="hidden control-label">{% trans 'Page Content' %}</label>
                            <div class="col-sm-12">

                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-6 col-sm-6">
                            <button type="button" class="btn btn-danger save-page pull-right">{% trans 'Save User' %}</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>


{% endblock body %}


{% block bodylast %}
    <script type="text/javascript">
        "use strict";
        try {
            window.user = {{ user.export() | json_encode | raw }};
        } catch(e) { console.log(e); }

        $("button.save-page").click(function (e) {
            e.preventDefault();
            console.log("button.save-page click");
            $("#user-form").submit();
        });
    </script>
{% endblock %}