{% extends 'modules/admin/layout.twig' %}

{% block body %}

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">{% trans 'Users List' %}</h3>
                        <div class="box-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control pull-right" placeholder="{% trans 'Search' %}">

                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tbody><tr>
                                <th>{% trans 'Name' %}</th>
                                <th>{% trans 'User' %}</th>
                                <th>{% trans 'E-mail' %}</th>
                                <th>{% trans 'Status' %}</th>
                                <th>{% trans 'Roles' %}</th>
                                <th>{% trans 'Date' %}</th>
                            </tr>
                        {% for user in users.rows %}
                            <tr title="ID: {{ user.id }}">
                                <td><a href="{{ path_for('admin.user', {'id':user.id}) }}">{{ user.name }}</a></td>
                                <td><a href="{{ path_for('admin.user', {'id':user.id}) }}">{{ user.user }}</a></td>
                                <td>{{ user.mail }}</td>
                                <td>{{ user.mail }}</td>
                                <td><span class="label label-success">{{ user.role }}</span></td>
                                <td>{{ update|date }}</td>
                            </tr>
                        {% endfor %}
                        </tbody></table>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer clearfix">
                        <ul class="pagination pagination-sm no-margin pull-right" data-page-count="{{ pages.pageCount }}"></ul>
                    </div>
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>



{% endblock body %}

{% block bodylast %}
    <script type="text/javascript">
        $(document).ready(function(){
            var pgs = $('ul.pagination');
            if (pgs.length > 0){
                pgs.twbsPagination({
                    totalPages: pgs.data('page-count'),
                    visiblePages: 7,
                    hrefVariable: '##',
                    href: '{{ path_for('admin.pages',{'p':'##'}) }}'
//                    onPageClick: function (e, page) {
//
//                        console.log('page', page);
//                        //window.top.location.href = .replace('##',page);
//                    }
                });
            }

        });
    </script>
{% endblock %}